<a href="https://colab.research.google.com/github/KatherineAtkins/Python1_Rep/blob/main/W5_HW3_Questions_Function_Katherine_Atkins.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Week 5- Homework 3. Functions**

**Katherine Atkins**

2/22/2024

**Question 1.** Write a function named add that takes two numbers as arguments and returns their sum.

In [1]:
def add(x, y):
    return x + y

add(3,2)

5

**Question 2.** Write a function named average that takes a list of numbers and returns their average.

In [10]:
def average(numbers):
    return sum(numbers) / len(numbers)

numbers = [1, 2, 3, 4, 5]
result = average(numbers)

result

3.0

**Question 3.**  Convert a given number of days into a combination of weeks and days.

In [5]:
def days_to_weeks_and_days(days):
  weeks = days // 7
  remaining_days = days % 7
  return weeks, remaining_days

days = 25
weeks, remaining_days = days_to_weeks_and_days(days)
print(f"{days} days is equivalent to {weeks} weeks and {remaining_days} days.")

25 days is equivalent to 3 weeks and 4 days.

**Question 4.** Write a function named string_length that takes a string and returns its length without using the built-in len() function.

In [9]:
def string_length(string):
  length = 0
  for char in string:
    length += 1
  return length

string = "Tulips are my favorite type of flowers"
length = string_length(string)
length

38

 **Question 5.** Write a function named max_number that takes two numbers as arguments and returns the maximum of the two.

In [8]:
def max_number(x, y):
  return max(x,y)


max_number(7,6)

7

**Question 6.**Write a function named count_down that takes a number as an argument and prints all numbers from the number down to 1.

In [14]:
def count_down(numbers1):
  while numbers1 >= 1:
    print(numbers1)
    numbers1 -= 1

count_down(10)

10
9
8
7
6
5
4
3
2
1

**Question 7.** Write a function named multiply_list that takes a list of numbers as an argument and returns the product of all the numbers in the list.

In [17]:
def multiply_list(numbers2):
  result = 1
  for nums in numbers2:
    result *= nums
  return result


numbers2 = [2, 4, 8]
result = multiply_list(numbers2)
result

64